<table id="myTable" width="100%">
  <thead>
   <tr>
    <th scope="col">Header 1</th>
    <th scope="col">Header 2</th>
    <th scope="col">Header 3</th>
    <th scope="col">Header 4</th>
    <th scope="col">Header 5</th>
   </tr>
  </thead>

  <tbody>
  <tr>
   <td>Row1 - Column 1</td>
   <td>Row1 - Column 2</td>
   <td>Row1 - Column 3</td>
   <td>Row1 - Column 4</td>
   <td>Row1 - Column 5</td>
  </tr>

  <tr>
   <td>Row2 - Column 1</td>
   <td>Row2 - Column 2</td>
   <td>Row2 - Column 3</td>
   <td>Row2 - Column 4</td>
   <td>Row2 - Column 5</td>
  </tr>

  <tr>
   <td>Row3 - Column 1</td>
   <td>Row3 - Column 2</td>
   <td>Row3 - Column 3</td>
   <td>Row3 - Column 4</td>
   <td>Row3 - Column 5</td>
  </tr>

  <tr>
   <td>Row4 - Column 1</td>
   <td>Row4 - Column 2</td>
   <td>Row4 - Column 3</td>
   <td>Row4 - Column 4</td>
   <td>Row4 - Column 5</td>
  </tr>

  <tr>
   <td>Row5 - Column 1</td>
   <td>Row5 - Column 2</td>
   <td>Row5 - Column 3</td>
   <td>Row5 - Column 4</td>
   <td>Row5 - Column 5</td>
  </tr>

  <tr>
   <td>Row6 - Column 1</td>
   <td>Row6 - Column 2</td>
   <td>Row6 - Column 3</td>
   <td>Row6 - Column 4</td>
   <td>Row6 - Column 5</td>
  </tr>

  <tr>
   <td>Row7 - Column 1</td>
   <td>Row7 - Column 2</td>
   <td>Row7 - Column 3</td>
   <td>Row7 - Column 4</td>
   <td>Row7 - Column 5</td>
  </tr>

  <tr>
   <td>Row8 - Column 1</td>
   <td>Row8 - Column 2</td>
   <td>Row8 - Column 3</td>
   <td>Row8 - Column 4</td>
   <td>Row8 - Column 5</td>
  </tr>

  <tr>
   <td>Row9 - Column 1</td>
   <td>Row9 - Column 2</td>
   <td>Row9 - Column 3</td>
   <td>Row9 - Column 4</td>
   <td>Row9 - Column 5</td>
  </tr>

  <tr>
   <td>Row10 - Column 1</td>
   <td>Row10 - Column 2</td>
   <td>Row10 - Column 3</td>
   <td>Row10 - Column 4</td>
   <td>Row10 - Column 5</td>
  </tr>

  </tbody>
</table>
